<!DOCTYPE html>
<html>
<head>
    <title>College Admin Request Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <h1>College Admin Request Management System</h1>

    <p>
        A centralized platform for submitting, managing,
        and tracking college administrative requests.
    </p>

    <h2>Welcome</h2>

    <p>Please select your login type:</p>

    <button>Student Login</button>
    <button>Staff Login</button>

</body>
</html>