<!DOCTYPE html>
<html>
<head>
    <title>Login - CampusFlow</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <div class="login-page">

        <div class="login-box">

            <h1>Welcome to CampusFlow</h1>

            <p>Login to manage your college requests.</p>

            <form>
                <input type="email" placeholder="Email Address">

                <input type="password" placeholder="Password">

                <button type="submit">Login</button>
            </form>

        </div>

    </div>

</body>
</html>